body{
	margin: 0;
	color: #484848;
	font-family: 'Open Sans', sans-serif;
}

header{
	padding: 5px 20px;
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
	max-height: 90px;
	max-width: 100%
}

hr{
	opacity: 0.5;
	margin: 0
}

#cover{
	height: 70vh;
	min-height: 500px;
	background: url("../img/cover.jpg") center;
	background-size: cover;
}

h1{
	color: #7a645e;
	margin: 1em 20px
}
.main{
	display: flex;
	flex-direction: column;
	padding-bottom: 50px
}

#infos{
	display: flex;
	flex-direction: column;
	padding: 50px 20px
}

#infos{
	align-items: center;
	padding-bottom: 70px
}

#cond-container{
	width: 100%;
	max-width: 800px;
	align-self: center;
	text-align: justify;
	padding: 0 20px;
	box-sizing: border-box;
}

form{
	margin: 20px 0;
	margin-bottom: 0;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form-info{
	flex-wrap: wrap;
}
#form-info > div{
	padding: 20px
}
#form-info label{
	display: inline-block;
	width: 80px;
	color: #7a645e;
}
#form-info input{
	border:0;
	border-bottom: 1px solid #7a645e;
	outline-offset: 0;
	outline: none;
	font-size: 1.2em;
	margin-right: 20px;
	margin-left: 5px;
	width: 300px;
	font-weight: lighter;
}

#lu-accept{
	color: #7a645e;
	cursor: text;
}

#text-check-box{
	text-align: center;
	margin-top: 0;
	font-size: 0.7em;
	padding: 0 20px;
}

input{
	margin-right: 8px
}

button{
	border: 1px solid #7a645e;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 1em;
	padding: 1px 6px;
	font-weight: lighter;
	margin-top: 50px
}

button:hover{
	color: white;
	background-color: #7a645e
}

@media all and (max-width: 700px){
	#cover{
		height: 500px
	}
	header{
		justify-content: center;
	}
}

@media all and (max-width: 500px){

	header{
		padding: 5px
	}
	#logo{
		max-height: 50px
	}
	#cover{
		height: 350px;
		min-height: 0
	}
	h1{
		font-size: 1.4em
	}
	#back-btn, #valid-btn{
		font-size: 0.8em;
	}
	#lu-accept{
		font-size: 0.8em
	}
	#text-check-box{
		font-size: 0.6em
	}

	p, ul{
		font-size: 0.7em
	}

}

@media all and (max-width: 400px){

	h1{
		font-size: 1.1em
	}
	#cover{
		height: 250px;
	}
	#lu-accept{
		font-size: 0.7em
	}
	#text-check-box{
		font-size: 0.5em
	}
	#form-info input{
	width: 200px;
	}
	#infos h2{
		font-size: 1.2em
	}
}

@media all and (max-width: 1100px) and (min-height: 1300px){
	#logo{
		max-height: 170px
	}
	#cover{
		height: 800px
	}
	h1{
		font-size: 2.5em
	}
	input{
		padding: 10px
	}
	#lu-accept{
		font-size: 1.4em
	}
	#text-check-box {
		font-size: 1.1em
	}
	.scroll-y{
	max-height: 900px;
	}
}