body{
	margin: 0;
	color: #484848;
	font-family: 'Open Sans', sans-serif;
}

header{
	padding: 5px 20px;
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo{
	max-height: 90px
}

#btn-container{
	display: none;
	justify-content: space-between;
	align-items: center;
}

#back-btn{
	border: 1px solid #222;
	padding: 2px 5px;
	text-decoration: none;
	color: #222;
	font-weight: lighter;
	background-color: #f5f5f5;
	opacity: 0.6;
	transition: opacity 0.3s ease
}

#back-btn:hover{
	opacity: 1
}

#valid-btn{
	border: 1px solid #fff;
	padding: 5px 8px;
	text-decoration: none;
	color: #fff;
	font-weight: lighter;
	background-color: #7a645e;
	font-size: 1em;
	outline: none;
	outline-offset: 0;
	cursor: pointer
}

hr{
	opacity: 0.5;
	margin: 0
}

h1{
	color: #7a645e;
}
.main, .infos{
	display: flex;
	flex-direction: column;
	padding: 50px 20px
}

.infos{
	align-items: center;
	padding-bottom: 70px
}

#cond-container{
	width: 100%;
	max-width: 800px;
	align-self: center;
	text-align: justify;
}

img{
	max-width: 100%
}

form{
	margin: 20px 0;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#form-info{
	flex-wrap: wrap;
}
#form-info > div{
	padding: 20px
}
#form-info label{
	display: inline-block;
	width: 70px;
	color: #7a645e;
}
#form-info input{
	border:0;
	border-bottom: 1px solid #7a645e;
	outline-offset: 0;
	outline: none;
	font-size: 1.2em;
	margin-right: 20px;
	margin-left: 5px;
	width: 300px;
	font-weight: lighter;
}

#lu-accept{
	color: #7a645e;
	cursor: text;
}

#text-check-box{
	text-align: center;
	margin-top: 0;
	font-size: 0.7em
}

input{
	margin-right: 8px
}

button{
	border: 1px solid #7a645e;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 1em;
	padding: 1px 6px;
	font-weight: lighter;
	margin-top: 50px
}

button:hover{
	color: white;
	background-color: #7a645e
}

@media all and (max-width: 700px){
	.hide{
		display: none;
	}
	#btn-container{
		display: flex;
	}
	header{
		justify-content: center;
	}
}

@media all and (max-width: 500px){

	header{
		padding: 5px
	}
	.main{
		padding: 20px 5px;
	}
	h1{
		font-size: 1.4em
	}
	#back-btn, #valid-btn{
		font-size: 0.8em;
	}
	#lu-accept{
		font-size: 0.8em
	}
	#text-check-box{
		font-size: 0.6em
	}

	p, ul{
		font-size: 0.7em
	}

}

@media all and (max-width: 400px){

	h1{
		font-size: 1.1em
	}
	#back-btn, #valid-btn{
		font-size: 0.7em;
	}
	#lu-accept{
		font-size: 0.7em
	}
	#text-check-box{
		font-size: 0.5em
	}
	#form-info input{
	width: 300px;
	}
}

@media all and (max-width: 1100px) and (min-height: 1300px){
	#logo{
		max-height: 170px
	}
	#back-btn, #valid-btn{
		font-size: 1.5em;
	}
	h1{
		font-size: 2.5em
	}
	input{
		padding: 10px
	}
	#lu-accept{
		font-size: 2em
	}
	#text-check-box {
		font-size: 1.4em
	}
	.scroll-y{
	max-height: 900px;
	}
}